html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  background-color: #FAFFF8;
  font-family: "roboto";
  color: #3E3E3E;
}
.container {
  background-color: #FAFFF8;
  width: 83%;
  margin: 0 auto;
  max-width: 1200px;
}
header a {
  text-decoration: none;
}
header .nav-wrapper {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 83%;
  max-width: 1200px;
  background-color: #FAFFF8;
  z-index: 1;
  padding: 0.5rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
header nav .burger {
  display: none;
}
@media (max-width: 600px) {
  header nav .burger {
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo img {
  width: 75px;
}
@media (max-width: 600px) {
  header nav .logo img {
    display: block;
    z-index: 3;
    width: 60px;
    margin-top: 2vw;
  }
}
header nav .logo h1 {
  font-size: 3vw;
  color: #3E3E3E;
  padding-left: 20px;
  font-family: "montserrat";
  font-weight: 600;
}
@media (max-width: 600px) {
  header nav .logo h1 {
    font-size: 6vw;
  }
}
@media (max-width: 600px) {
  header nav .links {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FAFFF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
  }
}
header nav .links a {
  font-size: 2vw;
  text-decoration: none;
  color: #3E3E3E;
  margin-left: 20px;
}
@media (max-width: 600px) {
  header nav .links a {
    display: flex;
    flex-direction: column;
    font-size: 5vw;
    margin: 10vw 0;
    color: #7DB569;
    font-weight: 900;
  }
}
@media (max-width: 800px) {
  header nav .links a {
    font-size: 2.7vw;
    margin-left: 2vw;
  }
}
header nav .links a:hover {
  color: #939393;
}
header .hero {
  height: 550px;
  width: 100%;
  display: flex;
  margin-top: 85px;
  max-width: 1200px;
}
@media (max-width: 600px) {
  header .hero {
    height: 250px;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
header .hero .mobile-btn {
  display: none;
  font-size: 5vw;
  font-weight: 700;
  color: #0a0a0a;
  width: 30vw;
  max-width: 300px;
  height: 15vw;
  position: absolute;
  background-color: rgba(125, 181, 105, 0.6);
  border: none;
  border-radius: 8%;
}
@media (max-width: 600px) {
  header .hero .mobile-btn {
    display: block;
  }
}
header .hero .hero-left {
  width: 33%;
  height: 100%;
  background-color: #CECECE;
}
@media (max-width: 600px) {
  header .hero .hero-left {
    display: none;
  }
}
header .hero .hero-left h3 {
  position: relative;
  top: 10vh;
  left: 2rem;
  font-size: 3.5vw;
  overflow: visible;
  white-space: nowrap;
}
@media (max-width: 800px) {
  header .hero .hero-left h3 {
    font-size: 2rem;
  }
}
header .hero .hero-left h4 {
  font-size: 1.4vw;
  line-height: 2;
  position: relative;
  top: 30%;
  margin-left: 2rem;
}
@media (max-width: 800px) {
  header .hero .hero-left h4 {
    font-size: 1rem;
  }
}
header .hero .hero-left button {
  font-size: 32px;
  font-weight: 700;
  font-family: inherit;
  color: inherit;
  width: 20vw;
  max-width: 300px;
  height: 90px;
  position: relative;
  float: right;
  top: 40%;
  background-color: #7DB569;
  border: none;
  cursor: pointer;
}
header .hero .hero-left button:hover {
  background: #96d296;
}
header .hero .hero-right {
  height: 100%;
  width: 67%;
  background-image: url("../img/hero-img.jpg");
  background-size: cover;
}
@media (max-width: 600px) {
  header .hero .hero-right {
    width: 100%;
    height: 100%;
  }
}
header hr {
  margin: 4rem 5% 5rem 5%;
}
.links.open {
  clip-path: circle(1050px at 90% -10%);
  -webkit-clip-path: circle(1050px at 90% -10%);
}
header.sticky {
  position: sticky;
  top: 0;
}
main.display {
  display: none;
}
footer.display {
  display: none;
}
footer {
  height: 200px;
  width: 100vw;
  background-color: #CECECE;
  margin-top: 7rem;
}
footer .github-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 5rem;
}
footer .iconify {
  color: #7DB569;
  margin-top: 1rem;
}
footer .iconify:hover {
  color: #96d296;
}
footer p {
  font-size: 2vw;
}
@media (max-width: 600px) {
  footer p {
    font-size: 4vw;
  }
}
main {
  margin: 4rem 5%;
}
@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
main .about1 {
  background-color: #CECECE;
  height: 240px;
  margin: 3rem 0;
  display: flex;
  border-radius: 5px;
}
main .about1 img {
  width: 35%;
  height: 100%;
}
@media (max-width: 600px) {
  main .about1 img {
    width: 100%;
  }
}
main .about1 div {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  main .about1 div {
    width: 100%;
    background-color: #CECECE;
    height: 10vh;
    margin-top: -1vw;
  }
}
main .about1 div p {
  font-size: 2vw;
  line-height: 1.5;
}
@media (max-width: 600px) {
  main .about1 div p {
    font-size: 3.5vw;
  }
}
@media (max-width: 600px) {
  main .about1 {
    display: inline;
    margin-top: -5vw;
  }
}
main .about2 {
  background-color: #F5F8F4;
  height: 340px;
  margin: 3rem 0;
  display: flex;
  border-radius: 5px;
}
main .about2 img {
  width: 35%;
  height: 100%;
}
@media (max-width: 600px) {
  main .about2 img {
    width: 100%;
    max-height: auto;
  }
}
main .about2 div {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  main .about2 div {
    width: 80%;
    margin: 0 auto;
  }
}
main .about2 div p {
  font-size: 2vw;
  line-height: 1.5;
}
@media (max-width: 600px) {
  main .about2 div p {
    height: 20vw;
    width: 100%;
    font-size: 3.5vw;
    padding-top: 10vw;
  }
  main .about2 div p br {
    display: none;
  }
}
@media (max-width: 600px) {
  main .about2 {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 45vw;
  }
}
main .about3 {
  background-color: #CECECE;
  height: 240px;
  margin: 3rem 0;
  display: flex;
  border-radius: 5px;
}
main .about3 img {
  width: 35%;
  height: 100%;
}
@media (max-width: 600px) {
  main .about3 img {
    width: 100%;
  }
}
main .about3 div {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  main .about3 div {
    width: 100%;
    background-color: #CECECE;
    height: 10vh;
    margin-top: -1vw;
  }
}
main .about3 div p {
  font-size: 2vw;
  line-height: 1.5;
}
@media (max-width: 600px) {
  main .about3 div p {
    font-size: 3.5vw;
  }
}
@media (max-width: 600px) {
  main .about3 {
    display: inline;
    margin-top: -5vw;
  }
}
main .testimonials {
  display: flex;
  justify-content: space-around;
  margin: 4rem 0;
}
@media (max-width: 800px) {
  main .testimonials {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
main .testimonials article {
  width: 23%;
  height: 320px;
  background-color: #7DB569;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (max-width: 800px) {
  main .testimonials article {
    height: 40vw;
    width: 40vw;
    margin: 7vw 0;
  }
}
@media (max-width: 600px) {
  main .testimonials article {
    width: 80%;
    height: 300px;
    margin: 10vw 0;
  }
}
@media (min-width: 1775px) {
  main .testimonials article {
    height: 360px;
  }
}
main .testimonials article img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding: 0.7rem;
}
@media (max-width: 800px) {
  main .testimonials article img {
    width: 20vw;
    height: 20vw;
  }
}
@media (max-width: 600px) {
  main .testimonials article img {
    width: 30vw;
    height: 30vw;
  }
}
main .testimonials article h4 {
  color: #FAFFF8;
  font-size: 2vw;
  font-weight: 600;
}
@media (max-width: 800px) {
  main .testimonials article h4 {
    font-size: 1.8rem;
  }
}
@media (max-width: 600px) {
  main .testimonials article h4 {
    font-size: 5vw;
  }
}
main .testimonials article p {
  line-height: 1.5;
  width: 90%;
  padding: 1rem;
  text-align: center;
}
.dev-teamwrapper h2 {
  font-size: 3vw;
  text-align: center;
  position: relative;
  top: 1%;
  max-height: fit-content;
}
@media (max-width: 800px) {
  .dev-teamwrapper .about-title {
    font-size: 5vw;
  }
}
@media (max-width: 600px) {
  .dev-teamwrapper .about-title {
    font-size: 6vw;
    font-weight: bold;
    top: 26px;
  }
}
.dev-team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #CECECE;
  height: 60vh;
  margin-top: -6vh;
}
@media (max-width: 800px) {
  .dev-team {
    display: flex;
    flex-wrap: wrap;
    height: 40rem;
  }
}
@media (max-width: 600px) {
  .dev-team {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 600px) {
  .dev-team .first-article {
    margin-top: 30vw;
  }
}
.dev-team article {
  width: 15vw;
  height: 21vw;
  background-color: #7DB569;
  max-height: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 275px;
}
@media (max-width: 800px) {
  .dev-team article {
    width: 14rem;
    height: 15rem;
    margin-bottom: -2rem;
  }
}
@media (max-width: 600px) {
  .dev-team article {
    width: 50vw;
    height: 65vw;
    margin: 10vw 0;
  }
}
.dev-team article img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  padding: 0.7rem;
  max-width: 150px;
  max-height: 150px;
}
@media (max-width: 800px) {
  .dev-team article img {
    width: 7rem;
    height: 7rem;
  }
}
@media (max-width: 600px) {
  .dev-team article img {
    width: 30vw;
    height: 30vw;
  }
}
.dev-team article h4 {
  color: #FAFFF8;
  font-size: 1.8vw;
  font-weight: 600;
}
@media (max-width: 800px) {
  .dev-team article h4 {
    font-size: 1.5rem;
  }
}
@media (max-width: 600px) {
  .dev-team article h4 {
    font-size: 5vw;
  }
}
@media (min-width: 1775px) {
  .dev-team article h4 {
    font-size: 2em;
  }
}
.dev-team article p {
  line-height: 1.2;
  width: 90%;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.2vw;
}
@media (max-width: 800px) {
  .dev-team article p {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .dev-team article p {
    font-size: 4vw;
    margin-top: 1.5vw;
  }
}
@media (min-width: 1775px) {
  .dev-team article p {
    font-size: 1.5em;
  }
}
.about-footer {
  background-color: #FAFFF8;
  margin-top: -6vw;
}
