.dev-teamwrapper {
        h2 {
            font-size: 3vw;
            text-align: center;
            position: relative;
            top: 1%;
            max-height: fit-content;
        }
        .about-title {
            @media @tablet {
                font-size: 5vw;
            }

            @media @mobile {
                font-size: 6vw;
                font-weight: bold;
                top: 26px;
            }
            
        }
}

.dev-team {
        .layout(flex, space-around, center);
        background-color: @primary-gray;
        height: 60vh;
        margin-top: -6vh;

        

         @media @tablet {
           display: flex;
           flex-wrap: wrap;
           height: 40rem;
        }

        @media @mobile {
            flex-direction: column;
            height: auto;
        }

        .first-article {
                @media @mobile {
                    margin-top: 30vw;
                }
            }

        article {
            .size(15vw, 21vw);
            background-color: @secondary-green;
            max-height: 350px;
            .layout(flex, flex-start, center);
            flex-direction: column;
            border-radius: 2%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            max-width: 275px;
            
            

             @media @tablet {
                .size(14rem, 15rem);
                margin-bottom: -2rem;
            }

            @media @mobile {
                .size(50vw, 65vw);
                margin: 10vw 0;
            }

            img {
                .size(10vw, 10vw);
                border-radius: 50%;
                padding: .7rem;
                max-width: 150px;
                max-height: 150px;

                @media @tablet {
                    .size(7rem, 7rem);
                }
                @media @mobile {
                    .size(30vw, 30vw);
                }
            
            }
            h4 {
                color: @primary-green;
                font-size: 1.7vw;
                font-weight: 600;

                @media @tablet {
                    font-size: 1.5rem;
                }

                @media @mobile {
                    font-size: 5vw;
                }

                 @media @large {
                    font-size: 2em;
                }
            }
            p {
                line-height: 1.2;
                width: 90%;
                padding: .5rem;
                text-align: center;
                font-size: 1.2vw;

                @media @tablet {
                    font-size: 1rem;
                }

                @media @mobile {
                    font-size: 4vw;
                    margin-top: 1.5vw;
                }

                @media @large {
                    font-size: 1.5em;
                }              
            }
        }
    }

.about-footer {
    background-color: @primary-green;
    margin-top: -6vw;
}
