main {
    margin: 4rem 5%;
    .about1 {
        background-color: @primary-gray;
        height: 240px;
        margin: 3rem 0;
        display: flex;
        border-radius: 5px;
        


        img {
            width: 35%;
            height: 100%;
        }
        div {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 28px;
                line-height: 1.5;
            }
        }

    }
    .about2 {
        background-color: @secondary-gray;
        height: 340px;
        margin: 3rem 0;
        display: flex;
        border-radius: 5px;

        img {
            width: 35%;
            height: 100%;
        }
        div {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 28px;
                line-height: 1.5;

            }
        }
    }
    .about3 {
        background-color: @primary-gray;
        height: 240px;
        margin: 3rem 0;
        display: flex;
        border-radius: 5px;

        img {
            width: 35%;
            height: 100%;
        }
        div {
            width: 65%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                font-size: 28px;
                line-height: 1.5;
            }
        }
    }
    .testimonials {
        display: flex;
        justify-content: space-around;
        margin: 4rem 0;

        article {
            width: 23%;
            height: 300px;
            background-color: @secondary-green;
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            align-items: center;
            border-radius: 2%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                padding: .7rem;
            }
            h4 {
                color: @primary-green;
                font-size: 20px;
                font-weight: 600;
            }
            p {
                line-height: 1.5;
                width: 90%;
                padding: 1rem;
                text-align: center;
            }
        }
    }
}