header {
    a {
        text-decoration: none;
    }
    .nav-wrapper {
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 83%;
        max-width: 1200px;
        background-color: @primary-green;
        z-index: 1;
        padding: .5rem 0;       
    }
    nav {
        .layout(flex, space-between, center);
        margin: 5px 0;

        .burger {
            display: none;

            @media @mobile {
                display: block;
                font-size: 3rem;
                cursor: pointer;
            }
        }
        .logo {
            display: flex;
            align-items: center;

            img {
                width: 75px;
                @media @mobile {
                    display: block;
                    z-index: 3;
                    width: 60px;
                    margin-top: 2vw;
                }
            }
            h1 {
                font-size: 3vw;
                color: @font-color;
                padding-left: 20px;
                font-family: @title-font;
                font-weight: 600;

                @media @mobile {
                    font-size: 6vw;
                }
            }
        }
        .links {

            a {
                font-size: 2vw;
                text-decoration: none;
                color: @font-color;
                margin-left: 20px;
                
                @media @mobile {
                    display: flex;
                    flex-direction: column;
                    font-size: 5vw;
                    margin: 10vw 0;
                    color: @secondary-green;
                    font-weight: 900;
                }

                @media @tablet {
                    font-size: 2.7vw;
                    margin-left: 2vw;
                }
                
            }
            a:hover {
                color: rgb(147, 147, 147);
            }
            
             @media @mobile {
                 .size(100%, 100vh);
                position: fixed;
                top: 0;
                left: 0;
                background-color: @primary-green;
                .layout(flex, center, center);
                flex-direction: column;
                clip-path: circle(100px at 90% -10%);
                -webkit-clip-path: circle(100px at 90% -10%);
                transition: all 1s ease-out;
            }
        }
    }
    .hero {
        .size(100%, 550px);
        display: flex;
        margin-top: 85px;
        max-width: 1200px;
        
         @media @mobile {
            height: 250px;
            padding-top: 2rem;
            .layout(flex, center, center);
            }

        .mobile-btn {
            display: none;
            font-size: 5vw;
            font-weight: 700;
            color: #0a0a0a;
            .size(30vw, 15vw);
            max-width: 300px;
            position: absolute;
            background-color: rgba(125, 181, 105, 0.6);
            border: none;
            border-radius: 8%;

            @media @mobile {
                display: block;
            }
        }
        .mobile-btn:hover {
                    background-color: @secondary-green;
                }

        .hero-left {
            .size(33%, 100%);
            background-color: @primary-gray;

            @media @mobile {
                display: none;
            }

            h3 {
                position: relative;
                top: 10vh;
                left: 2rem;
                font-size: 3.5vw;
                overflow: visible;
                white-space: nowrap;

                @media @tablet {
                    font-size: 2rem;
                }
            }
            h4 {
                font-size: 1.4vw;
                line-height: 2;
                position: relative;
                top: 30%;
                margin-left: 2rem;

                @media @tablet {
                    font-size: 1rem;
                }
            }
            .button {
                font-size: 32px;
                font-weight: 700;
                font-family: inherit;
                color: inherit;
                .size(20vw, 70px);
                max-width: 300px;
                position: relative;
                float: right;
                top: 40%;
                background-color: @secondary-green;
                border: none;
                cursor: pointer;
            }
            button {
                display: flex;
                justify-content: center;
            }
            .button:focus {
                outline: none;
            }
        }
        .hero-right {
            .size(67%, 100%);
            background-image: url("../img/hero-img.jpg");
            background-size: cover;

             @media @mobile {
                 .size(100%, 100%);
            }
        }
    }
    hr {
        margin: 4rem 5% 5rem 5%;
    }
}

.links.open {
    clip-path: circle(1050px at 90% -10%);
    -webkit-clip-path: circle(1050px at 90% -10%);
}

header.sticky {
    position: sticky;
    top: 0;
}